{% block content %}

<!--<table align="right" style="background-color:white;width:350px" >-->
	
	<div class="round-button" align="right"><div class="round-button-circle"><a  align="right" href="/sentiment/index/" class="round-button">Sentiment Analysis</a>
        </div>
        <br>

<div class="round-button-circle"><a  align="right" href="/sentiment/result/" class="round-button">Stock Prediction</a>
  </div>
    <br>  
<div class="round-button-circle"><a  align="right" href="/sentiment/result/" class="round-button">Technicals</a>
</div>
</div>
	<!--<tr ><td ><a href="/sentiment/result/"><strong style="color:black;font-size:20px">Sentiment Analysis</strong></a></td></tr>
	

	</table>-->

{% endblock %} 