<!DOCTYPE html>
<html lang="en">

<head>

<title>Juniper</title>
<meta charset="utf-8" />
{% load staticfiles %}
<link rel='stylesheet' href="{%  static 'sentiment/css/bootstrap.min.css' %}" type='text/css'/>
<link rel='stylesheet' href="{%  static 'sentiment/css/bootstrap.css' %}" type='text/css'/>
<link rel='stylesheet' href="{%  static 'sentiment/css/bootstrap-theme.css' %}" type='text/css'/>
<link rel='stylesheet' href="{%  static 'sentiment/css/style1.css' %}" type='text/css'/>
<meta name="viewport" content="width-device-width, initial-scale=1.0">


<style type="text/css">
html,body{
height:100%;
}
hover:hover {background-color: #f5f5f5}
th, td {
    border: 1px solid #00a6ff;
    padding: 20px;
	font-size: bold;
}
table {
    border-spacing: 10px;
	width: 50%;
}
input[type=file] {
	color:white;
    padding:0px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 2px;
}
</style>
</head>

<body class="body" style="background-image: url('{% static "sentiment/images/main-bg.jpg "%}')";>
 <div class="container-fluid" style="min-height:95%; ">
  	<div class="row">
   		<div class="col-sm-1">
    		 <br>
			<center>
	 		<img src="{% static 'sentiment/images/nttlogo.png' %}" class="img-responsive" style='max-height:100px'; alt="face">
	 		<h4 style="color:white;">NTTDATA</h4>
			</center>
    	</div>
    	<div class="col-sm-10">
     		<br>	
			<center>
			<h1 style="color:#fff;"><strong>Juniper-Aspire</strong></h1>
			<h4 style="color:#fff;">Machine Learning For Testing</h4> 
			</center>
    	</div>
  	</div><br>
   	<div class="row">
     	<div class="navbar navbar-inverse" style="background-color:#b2b1d3">
		<ul class="nav nav-pills">	
	 		<li role="presentation"><a href="/sentiment/">Home</a></li>
 	 		<li role="presentation"><a href="/sentiment/aspire">Aspire</a></li>
  	 		<li role="presentation"><a href="/sentiment/about">About</a></li>
	 		<li role="presentation"><a href="/sentiment/">Logout</a></li>
        </ul>
     	</div>
    </div>
    
			<div>
				
				<br><br>
				{% block content %}
				{% endblock %}  
				
      		</div>
     	
</div>

  <footer id="footer" >
    <div class="container-fluid" style="margin-left:15px">
	<p class="copyright" >Aspire leverages intelligent robotic automation technologies such as machine learning, AI and text analytics for predictive defects analysis and test optimization. It presents user-friendly results in the form of dashboards, graphs, charts and tables.</p>
    </div>
  </footer>

</body>

</html>








